@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Kanit', sans-serif;
  touch-action: manipulation !important;
}

input[type="text"] {
  outline: none;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #ddd !important;
}

.input-group {
  display: block;
  margin-bottom: 12px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EEEEEE;

}